.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

/* src/App.css or relevant CSS file */
.bullet-list {
  list-style: none; /* Remove default list styling */
  padding-left: 0; /* Remove default padding */
  display: flex; /* Use flexbox to align items inline */
  gap: 1em; /* Space between items */
  flex-wrap: wrap; /* Allow wrapping if needed */
}

.bullet-list li {
  position: relative; /* Position relative for pseudo-element */
  padding-left: 2em; /* Space for the bullet point */
  margin: 0; /* Remove default margin */
  display: flex; /* Align items inline */
  align-items: center; /* Vertically center the text */
}

.bullet-list li::before {
  content: '•'; /* Bullet point character */
  color: green; /* Bullet point color */
  position: absolute;
  left: 0; /* Position bullet point to the left */
  top: 50%; /* Vertically center the bullet point */
  transform: translateY(-50%); /* Adjust alignment */
  font-size: 1.5em; /* Adjust size of the bullet point */
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card-skills {
  position: relative;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-img {
  transform: scale(1.1);
}

.card:hover .overlay-content {
  opacity: 1;
}

@keyframes scrollInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scrollInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scroll-in-left {
  animation: scrollInLeft 1s ease-out;
}

.scroll-in-right {
  animation: scrollInRight 1s ease-out;
}

.icon-text-wrapper {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.icon-text-wrapper:hover {
  transform: scale(1.2);
}

.interactive-icon {
  display: block;
  margin: 0 auto;
}

.interactive-text {
  text-align: center;
  margin-top: 0.5rem;
}

.section {
  padding-top: 70px; /* Adjust based on the height of your navbar */
}

/* Custom Colors */
/* In your custom CSS file */
.bg-darkBlue {
  background-color: #000f54;
}

.text-darkBlue {
  color: #000f54; /* Replace with your custom color */
}

.bg-lighterDarkBlue{
  background-color: #011987;
}

.text-White {
  color: #ffffff; /* Default white color */
}

.wh-White {
  color: #ffffff; /* Default white color */
  transition: color 0.1s ease; /* Smooth transition effect */
}

.wh-White:hover {
  color: #ccccccb9; /* Slightly darker color on hover */
}

.border-White {
  border: 1px solid #ffffff; /* Default white border */
  transition: border-color 0.1s ease; /* Smooth transition effect */
}

.border-White:hover {
  border-color: #ccccccb9; /* Slightly darker color on hover */
}


