.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

.bullet-list {
  list-style: none; 
  padding-left: 0; 
  display: flex; 
  gap: 1em; 
  flex-wrap: wrap; 
}

.bullet-list li {
  position: relative; 
  padding-left: 2em; 
  margin: 0; 
  display: flex; 
  align-items: center; 
}

.bullet-list li::before {
  content: '•';
  color: green; 
  position: absolute;
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
  font-size: 1.5em; 
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card-skills {
  position: relative;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease-in-out;
}

.card:hover .card-img {
  transform: scale(1.1);
}

.card:hover .overlay-content {
  opacity: 1;
}

@keyframes scrollInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scrollInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.scroll-in-left {
  animation: scrollInLeft 1s ease-out;
}

.scroll-in-right {
  animation: scrollInRight 1s ease-out;
}

.icon-text-wrapper {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.icon-text-wrapper:hover {
  transform: scale(1.2);
}

.interactive-icon {
  display: block;
  margin: 0 auto;
}

.interactive-text {
  text-align: center;
  margin-top: 0.5rem;
}

.section {
  padding-top: 70px; 
}

/* Custom Colors */
.bg-darkBlue {
  background-color: #000f54;
}

.text-darkBlue {
  color: #000a38; 
}
.bg-lighterDarkBlue{
  background-color: #011987;
}

.bg-lightBlue {
  background-color: #A2BFFE;
}

.text-White {
  color: #ffffff; 
}

.text-Black {
  color: #000000; 
}

.wh-White {
  color: #ffffff; 
  transition: color 0.1s ease; 
}

.wh-White:hover {
  color: #ccccccb9; 
}

.border-White {
  border: 1px solid #ffffff; 
  transition: border-color 0.1s ease; 
}

.border-White:hover {
  border-color: #ccccccb9; 
}

.border-Black {
  border: 1px solid #000000; 
  transition: border-color 0.1s ease; 
}

.border-Black:hover {
  border-color: #2e2e2eb9; 
}

.wh-Black {
  color: #000000; 
  transition: color 0.1s ease; 
}

.wh-Black:hover {
  color: #2e2e2eb9; 
}